/*
Theme Name:         Virtue
Theme URI:          http://kadencethemes.com/product/virtue-free-theme/
Description:        The Virtue theme is extremely versatile with tons of options, easy to customize and loaded with great features. The clean modern design is built with html5 and css3 and uses the powerful responsive framework from Bootstrap to be a fully responsive and mobile friendly. It's fully ecommerce (Woocommerce) ready with all the tools you need to design an awesome online store. The versatile design is perfect for any kind of business, online store, portfolio or personal site. We built Virtue with a powerful options panel where you can set things like your home layout, sliders, custom fonts, and completely customize your look without writing any CSS. You are going to love how easy this theme is to work with. Virtue was built and designed by <a href="http://kadencethemes.com/">Kadence Themes</a>.
Version:            2.2.3
Author:             Kadence Themes
Author URI:         http://kadencethemes.com/
Tags: 				responsive-layout, two-columns, one-column, custom-colors, custom-header, custom-menu, featured-images, translation-ready, theme-options, photoblogging 

License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl.html
*/
/* CSS OPE */
.products {
	padding-top: 100px;
	padding-bottom: 100px;
}
.entry-title{
	font-size:24px !important;
	padding:0 !important;
	margin:0 !important;
}
.postmeta_timber {
	clear:both;
	margin-bottom:10px;
}
.postdate_timber{
	margin:0;
	padding:0;
	font-family:arial;
	font-weight:bold;
	color:#846537;
}
.subhead{
	display:none;
}
.single-footer{
	background:transparent !important;
}

.pagination {
	clear:both;
	padding:20px 0;
	text-align:center;
	line-height:12px;
	color:#444;
}

.pagination span, .pagination a {
	margin: 2px 40px 2px 40px;
	text-decoration:none;
	color:#444;
	display:inline-block;
}
.pagination .spasi{
	width:100px;
}
.pagination .current{
	padding:6px 9px 5px 9px;
}

.product_details_timber{
	text-align:left;
}
.product_details_timber h5{
	font-size:16px;
}
.timber_image{
	width:75%;
	height:auto;
}
.products_timber_footer{
	max-width:600px;
	margin:-50px auto 20px auto;
	padding:15px 30px 15px 30px;
	text-align:center;
	border:2px dashed #000;
}
.products_timber_footer h4{
	font-size:18px;
}
.product_excerpt_timber p{
	text-decoration:none;
	color:#846537;
}
.quantity{
	font-family: avenirheavy !important;
	font-size: 11pt;
	color: #6b6a66 !important;
}
.sidebar .widget-inner li {
	border-bottom: 0px !important;
}
.woocommerce ul.product_list_widget li img {
	float: left !important;
	width: 100px !important;
	margin-right:10px !important;
}
.widget_shopping_cart{
	border:1px solid #444;
	padding:10px;
}
.checkout .cart_list{
	margin:30px !important;
	padding:10px !important;
	border:1px solid #846537 !important;
	max-width:250px !important;
}
.checkout .cart_list h2{
	margin-top:0 !important;
	text-align:center !important;
}
.blockUI {
	background-color:transparent !important;
}
.woocommerce-shipping-fields{
	display:none !important;
}
.woocommerce-info, .woocommerce h2{
	border:0 !important;
	padding:0 !important;
	font-family: noteworthy;
	font-size:20px !important;
	margin-bottom:0 !important;
}
.woocommerce-info::before{
	display:none !important;
}
.woocommerce .login, .woocommerce .register{
	margin:0 !important;
	border:0 !important;
	padding:10px 0 !important;
}
.woocommerce .login a{
	color:#846537 !important;
	font-family:arial;
	font-size:11px;
}
.woocommerce form input[type=submit].button {
	margin:0 !important;
	padding:5px 20px !important;
	background-color:#846537 !important;
	float:right;
	border-radius:15px;
	box-shadow: 2px 2px 1px #888888;
}
.woocommerce-page form .form-row label {
	display: none !important;
}
.woocommerce-page form .form-row-first {
	padding-right: 0 !important;
	width: 100% !important;
}
.woocommerce-page form .form-row-last {
	padding-left: 0 !important;
	width: 100% !important;
}
.login_form_timber{
	min-width:50%;
}
.billing_form_timber{
	width:100%;
}
.login_form_timber td{
	padding-bottom:15px;
}
.billing_form_timber td{
	padding-bottom:5px;
}
.billing_form_timber .clear{
	height:0 !important;
}
#billing_country_field{
	display:none !important;
}
.login_form_timber .input-text, .billing_form_timber .input-text{
	padding:5px !important;
}
.login_form_timber p, .billing_form_timber p{
	margin:5px 0 5px 0 !important;
}
.shop_table_timber{
	border:1px solid #846537;
	margin-left:30px;
	width:250px;
}
.shop_table_timber th, .shop_table_timber td{
	padding:10px;
}
#payment{
	border:1px solid #846537 !important;
	margin:30px !important;
	max-width:250px !important;
}

/* CSS HABIB*/
body {
	margin-right: -20px;
}
h1 {
	font-family: 'noteworthy' !important;
}
h5 {
	font-family: 'avenirblack' !important;
	color: #8a6032 !important;
}
p {
	font-family: 'avenirmedium' !important;
}
header {
	background-color: #fcf7db !important;
}
footer {
	background-image: url(assets/img/texture.png) !important;
}
.contentclass {
	background-color: #fcf7db !important;
}

.flex-caption {
	padding-left: 10vw !important;
	text-align: left !important;
	bottom: 45vh !important;
	color: #000000 !important;
}

.captiontitle {
	font-family: noteworthy !important;
	background: rgba(252, 247, 219, .9) !important;
}

.captiontext {
	/*color: #8a6032 !important;*/
	font-family: 'avenir' !important;
	background: rgba(252, 247, 219, .9) !important;
}

.kanan {
	float: right;
}

.section {
	margin-top: 200px;
	text-align: center;
}

.description {
	padding-left: 30px;
	padding-right: 30px;
}

.dash {
	border: 2px dashed;
	padding: 25px 75px 25px 75px;
	vertical-align: center;
}

.clear {
	height: 25px;
}

.clear100 {
	height: 100px;
}

.stayupdated{
	width: 100%;
}

.kad-header-right {
	margin-top: 3vh;
	font-family: 'noteworthy' !important;
}

.secondnav {
	font-family: 'noteworthyttf' !important;
	margin-top: 2vh;
}

.sf-menu {
	display: block;
}

/* About us Styling*/
figure, .member, .role, .team-member-text {
	float: left;
	position: relative !important;
	min-height: 1px !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
}

@media (min-width: 992px) {
	.first figure, .first .member{
		margin-top: 0px !important;
	}
	figure { /* adaptasi col-md-4 offset-1 */
		margin-bottom: 150px !important;
		width: 33.33333333%;
		margin-left: 8.33333333% !important;
		margin-right: 0 !important;
		content: url(assets/img/ava.png); 
	}
	.member, .role, .team-member-text { /* adaptasi col-md-7 */
		text-align: center;
		padding-left: 75px !important;
		padding-right: 50px !important;
		width: 50%;
		margin-right: 0 !important;
	}
	.member {
		/*margin-top: 150px;*/
		padding-top: 75px;
		background-image: url(assets/img/about-text.png);
		margin-bottom: 0 !important;
	}
	.role {
		background-image: url(assets/img/about-text-repeat.png);
		/*background-position: 0 135px;*/
		margin-bottom: 0 !important;
	}
	.team-member-text {
		background-image: url(assets/img/about-text-repeat.png);
		background-position: 0 -20px;
		margin-bottom: 150px;
	}
}

/* Reseller styling*/
.sendmail {
	color: white !important;
	border-radius: 20px !important;
	background: #7f5d3a !important;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.sendmail:hover {
	background: #9a7d5e !important;
}
.resellerinput {
	/*margin-left: 5px;*/
	/*width: auto !important;*/
	background-color: #fcfbed !important;
	border-radius: 2px !important;
	border-color: #d8d3bb !important;
}

/* cart styling */
.shop_table {
	border: 0px !important;
}
.shop_table thead {
	background-color: rgba(0,0,0, 0) !important;
}
.tablehead {
	color: #000000;
	font-family: matcha !important;
	font-size: 16pt;
	border-top: 2px solid #8a6032 !important;
	border-bottom: 2px solid #8a6032 !important;
}
.cekot {
	color: white !important;
	margin-top: 30px !important;
	border-radius: 20px !important;
	background: #7f5d3a !important;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.cekot:hover {
	background: #9a7d5e !important;
}
.product-name {
	font-family: avenirheavy !important;
	font-size: 11pt;
	text-transform: uppercase;
}
.product-name a {
	color: #97744b !important;
}
.product-name a:hover {
	color: #af906c !important;
}
.product-price {
	font-family: avenirheavy !important;
	font-size: 11pt;
	color: #6b6a66 !important;
}
.shop_table .product-quantity .quantity {
	width: 90px !important;
}
.quantity input.qty {
	font-family: avenirheavy !important;
	color: #594a42;
	width: 30px !important;
	height: 30px !important;
	border-radius: 2px !important;
	/*border: 1px solid rgba(0,0,0,0.5) !important;*/
	/*border-top: 5px solid rgba(0,0,0,0.7) !important;*/
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7) !important;
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7) !important;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7) !important;
}
.quantity .plus {
	background-color: #7f5e3b !important;
	color: white !important;
	border: none !important;
	margin: 5px 25px 0 0 !important;
	/*margin-top: 5px !important;*/
	/*margin-right: 25px !important;*/
}
.quantity .plus:hover {
	background: #9a7d5e !important;
	text-decoration: none;
}
.quantity .minus {
	background-color: #7f5e3b !important;
	color: white !important;
	border: none !important;
	margin: 0 0 5px 20px !important;
	/*margin-left: 20px !important;*/
}
.quantity .minus:hover {
	background: #9a7d5e !important;
}
.product-subtotal {
	font-family: avenirheavy !important;
	font-size: 11pt;
	color: #6b6a66 !important;
}
.subtotal {
	font-family: matcha !important;
	font-weight: bold;
	font-size: 13pt;
	color: #000000;
}
.amount {
	font-family: avenirheavy !important;
	font-size: 11pt;
	color: #6b6a66 !important;
}

@font-face {
	font-family: noteworthy;
	src: url("assets/fonts/Noteworthy-Bold.otf");
}
@font-face {
	font-family: noteworthyboldtwo;
	src: url("assets/fonts/Noteworthy-Bold 2.otf");
}
@font-face {
	font-family: noteworthyttf;
	src: url("assets/fonts/Noteworthy.ttc");
}

@font-face {
	font-family: avenirmedium;
	src: url(assets/fonts/AvenirLTStd-Medium.otf);
}

@font-face {
	font-family: avenirlight;
	src: url(assets/fonts/AvenirLTStd-Light.otf);
}

@font-face {
	font-family: avenirblack;
	src: url(assets/fonts/AvenirLTStd-Black.otf);
}

@font-face {
	font-family: avenirheavy;
	src: url(assets/fonts/AvenirLTStd-Heavy.otf);
}

@font-face {
	font-family: matcha;
	src: url(assets/fonts/Matcha.otf);
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url(assets/fonts/glyphicons-halflings-regular.eot);
  src: url(assets/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(assets/fonts/glyphicons-halflings-regular.woff) format('woff'), url(assets/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
.glyphicon {
  color: #333333 !important;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}